body {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  overflow-x: hidden;
  grid-gap: 0;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  margin: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 0;
}
button {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
button:focus {
}
/* END OF BASICS */
.nav {
  grid-column: 1/-1;
  color: white;
  margin: 0;
  background-color: black;
}
.banner {
  height: 70vh;
  grid-column: 1/-1;
  background-image: url("./banner.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  z-index: 0;
  margin: 0;
}
.title {
  z-index: 1;
  text-align: center;
  margin: 10vh 0;
  font-size: 3rem;
  width: 100%;
  border-style: solid none;
}
.element {
  display: block;
  padding: 2vh 0;
  font-weight: bold;
  cursor: pointer;
}
.element:hover {
  text-decoration: underline;
}
.project {
  grid-column: 4/6;
}
.edu {
  grid-column: 6/8;
}
.abt {
  grid-column: 8/10;
}
.skills {
  grid-column: 1/-1;
  margin: 15vh 0 8vh 0;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  color: white;
}
.pd {
  padding: 10px 5vw;
  cursor: pointer;
  font-size: 1.2rem;
  /* margin: 10px 10vw; */
}
.pd:hover {
  text-decoration: underline;
}

/* KEITH"S DESC */
.bio {
  grid-column: 3/11;
  border-radius: 22px;
  margin: -4vh;
  z-index: 2;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.dream-jobs {
  text-align: right;
  font-weight: bolder;
  margin: 10px 20px;
  font-size: 1.6rem;
  border-top: solid;
}
.personal-bio {
  line-height: 1.6rem;
  margin: 10px 20px;
  border-bottom: solid;
}
/* BIO */
.visable {
  display: block;
  animation: grow 0.7s normal linear;
}
@keyframes grow {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
    height: 20vh;
  }
}
/* END ANIMATION */
.invis {
  display: none;
}
.skill-desc {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  grid-column: 1/-1;
  color: white;
  height: 20vh;
  margin: 1vh 10%;
  border-radius: 22px;
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.22);
}
.skill-title {
  text-align: center;
  font-size: 1.5rem;
}
.history {
  margin: 4vh 3vw;
  color: black;
}
/* FOOTER */
.footer{
  grid-column: 1/-1;
  background-color: black;
  color: white;
  margin: 0;
  height: 12vh;
}
.follow-in{
grid-column: 1/3;
font-size:1rem;
margin: 10px 0 0 0;
}
.social-media{
  grid-column: 1/3;
}
a, .fab{
  margin: 5px;
  text-decoration: none;
  color: white;
}
.fab:hover{
  text-decoration: underline;
}