.projects {
  margin: 10vh 0 0 0;
  grid-column: 1/-1;
  height: 150vh;
}
.block {
  border-radius: 25px;
  margin: 0 10px;
  height: 95vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.block:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.block1 {
  grid-column: 1/4;
  /* height: 85vh; */
}
.block2 {
  grid-column: 4/7;
}
.block3 {
  grid-column: 7/10;
}
.block4 {
  grid-column: 10/13;
}
.block5 {
  margin: 5vh 10px;
  grid-column: 1/-1;
  height: 30vh;
}
.project-title {
  padding: 20px;
  font-size: 2;
  border-style: solid none;
}
.project-bio {
  line-height: 1.3rem;
  margin: 5px;
}
.full-stack-img {
  background-image: url("../img/linkedin-project-earthLink.PNG");
}
.react-img {
  background-image: url("../img/linkin-project-video\ app.PNG");
}
.java-img {
  background-image: url("../img/linkedin-project-employee-payout.PNG");
}
.img {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 30vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
