.skills {
    grid-column: 1/-1;
    margin: 15vh 0 8vh 0;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.15) 0%,
        rgba(0, 0, 0, 0.15) 100%
      ),
      radial-gradient(
          at top center,
          rgba(255, 255, 255, 0.4) 0%,
          rgba(0, 0, 0, 0.4) 120%
        )
        #989898;
    background-blend-mode: multiply, multiply;
    color: white;
  }
  .pd {
    padding: 10px 5vw;
    cursor: pointer;
    font-size: 1.2rem;
    /* margin: 10px 10vw; */
  }
  .pd:hover {
    text-decoration: underline;
  }
  
  /* KEITH"S DESC */
  .bio {
    grid-column: 3/11;
    border-radius: 22px;
    margin: -4vh;
    z-index: 2;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .dream-jobs {
    text-align: right;
    font-weight: bolder;
    margin: 10px 20px;
    font-size: 1.6rem;
    border-top: solid;
  }
  .personal-bio {
    line-height: 1.6rem;
    margin: 10px 20px;
    border-bottom: solid;
  }
  /* BIO */
  .visable {
    display: block;
    animation: grow 0.7s normal linear;
  }
  @keyframes grow {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      opacity: 1;
      height: 20vh;
    }
  }
  /* END ANIMATION */
  .invis {
    display: none;
  }
  .skill-desc {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    grid-column: 1/-1;
    color: white;
    height: 20vh;
    margin: 1vh 10%;
    border-radius: 22px;
    box-shadow: 0 14px 40px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.22);
  }
  .skill-title {
    text-align: center;
    font-size: 1.5rem;
  }
  .history {
    margin: 4vh 3vw;
    color: black;
  }
  
  