body {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  overflow-x: hidden;
  grid-gap: 0;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  margin: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
}
button {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
button:focus {
}
/* END OF BASICS */
.nav {
  grid-column: 1/-1;
  color: white;
  margin: 0;
  background-color: black;
}
.banner {
  height: 70vh;
  grid-column: 1/-1;
  background-image: url("../img/banner.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  z-index: 0;
  margin: 0;
}
.title {
  z-index: 1;
  text-align: center;
  margin: 10vh 0;
  font-size: 3rem;
  width: 100%;
  border-style: solid none;
}
.element {
  display: block;
  padding: 2vh 0;
  font-weight: bold;
  cursor: pointer;
}
.element:hover {
  text-decoration: underline;
}
.pro {
  grid-column: 4/6;
}
.edu {
  grid-column: 6/8;
}
.abt {
  grid-column: 8/10;
}

/* FOOTER */
.footer{
  grid-column: 1/-1;
  background-color: black;
  color: white;
  margin: 0;
  height: 12vh;
}
.follow-in{
grid-column: 1/3;
font-size:1rem;
margin: 10px 0 0 0;
}
.social-media{
  grid-column: 1/3;
}
a, .fab{
  margin: 5px;
  text-decoration: none;
  color: white;
}
.fab:hover{
  text-decoration: underline;
}
.email{
  grid-column: 10/12;
  margin: 0;
  font-size: .9rem;
}
.far{
  grid-column: 9/10;
text-align: right;
margin: -1px 2vw;
}
.contact-email{
  margin: -15px;
  
}