body {
  display: grid;
  font-family: "Archivo Narrow", sans-serif;
  grid-template-columns: repeat(11, 1fr);
  overflow-x: hidden;
  grid-gap: 0;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  margin: 0;
}
.overflow {
  overflow-y: hidden;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
}
.hide {
  font-size: 3rem;
  text-align: center;
  /* border-style: solid; */
  color: white;
  /* width: 50%; */
  margin: auto;
  background-color: rgba(0, 0, 0, 0.18);
}
.success {
  font-size: 4rem;
  text-align: center;
  border-style: solid none solid none;
  border-color: green;
  color: green;
  /* width: 50%; */
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.success:hover {
  animation-duration: 3s;
  animation-name: larger;
  animation-direction: linear;
  animation-iteration-count: infinite;
}
@keyframes larger {
  from {
    font-size: 4rem;
  }
  50% {
    font-size: 5rem;
  }
  100% {
    font-size: 4rem;
  }
}
button {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
/* LIST */
ul {
  list-style: none;
}
li {
  margin-left: 20px;
}
/* END OF BASICS */
.inline-block {
  margin-left: 49%;
}

.banner {
  height: 90vh;
  grid-column: 1/-1;
  background-image: url("../img/banner.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  z-index: 0;
  margin: 0;
}
.title {
  z-index: 1;
  text-align: center;
  margin: 10vh 0;
  padding: 15px 0;
  font-size: 3rem;
  width: 100%;
  border-style: solid none;
}

.indent {
  margin-left: 15px;
}
/* FOOTER */
.footer {
  grid-column: 1/-1;
  background-color: black;
  color: white;
  margin: 0;
  height: 12vh;
}
.follow-in {
  grid-column: 1/3;
  padding-left: 6px;

  font-size: 1rem;
  margin: 10px 0 0 0;
}
.social-media {
  grid-column: 1/3;
}
a,
.fab {
  margin: 5px;
  text-decoration: none;
  color: white;
}
.fab:hover {
  text-decoration: underline;
}
.email {
  grid-column: 10/12;
  margin: 0;
  font-size: 0.9rem;
}
.far {
  grid-column: 9/10;
  text-align: right;
  margin: -1px 2vw;
}
.contact-email {
  margin: -15px;
}

/* The Author Bio block */
.bio {
  grid-column: 5/11;
  margin-top: -100px;
  z-index: 1;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  border-radius: 30px;
  border-style: ridge;
  border-color: black;
}
.dream-jobs {
  font-weight: bolder;
  font-size: 1.6rem;
  font-family: "Quicksand", sans-serif;
  margin: 10px 0 0 14px;
}
.personal-bio {
  margin: 10px 0 0 14px;
  padding-bottom: 2vh;
  line-height: 1.6rem;
}

/* Project */
.project-block {
  grid-column: 1/-1;
  margin: 20px 0;
  padding: 20px 0;
}

/* SETTING UP PROJECT STRUCTURE */
.left {
  grid-column: 2/7;
}
.right {
  grid-column: 7/12;
}
.center {
  grid-column: 2/12;
}
/* .full {
  grid-column: 2/12;
} */
/* /////////////////// */
.block {
  border: solid;
  background-color: rgba(255, 255, 255, 0.6);
  height: 50vh;
  margin: 15px;
}
.block:hover {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  background-color: rgba(255, 255, 255, 0.87);
}
.proj-img {
  float: left;
  height: 100%;
  background-color: black;
  width: 100%;
}

.proj-title {
  margin: 10% 0 0 0;
  font-weight: bolder;
  font-size: 1.3rem;
  text-align: center;
  border-bottom: solid black;
  border-top: solid black;
  font-size: 2rem;
  background-color: rgba(220, 200, 255, 0.18);
}
.proj-title:hover {
  background-color: white;
}
.proj-desc {
  width: 100%;
  line-height: 1.2rem;
}
/* MODEL CARD SECTION */
.card {
  grid-column: 2/12;
  z-index: -2;
  background-color: rgb(254, 253, 255, 0.4);
  border: ridge white;
  border-radius: 25px;
}
.card-block {
  grid-column: 3/11;
  border-radius: 30px;
  border: solid black;
  background-color: white;
  margin-top: 30vh;
}
.z-up {
  z-index: 2;
}
.card-skill {
  grid-column: 4/10;
}
.small {
  font-size: 0.5rem;
  color: grey;
  text-align: center;
}
ul li {
  display: inline;
  font-size: 1.3rem;
  padding: 0 0 0 15px;
}
.card-title {
  grid-column: 1/-1;
  margin-top: 20px;
  text-align: center;
  font-size: 3rem;
  border-bottom: solid;
}
.indent {
  margin-left: 20px;
}
.card-desc {
  margin: 20px 0 20px 10px;
  grid-column: 1/-1;
}
.black {
  color: black;
}
.text-left {
  text-align: left;
}
.code {
  color: lightblue;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  margin-left: 40%;
}
.code:hover {
  color: darkblue;
}
.no-margin {
  margin: 0;
}
/* ANIMATION */
.growth {
  animation: growth 0.2s ease-in forwards;
  /* animation-iteration-count: infinite; */
}
@keyframes growth {
  from {
    grid-column: 2/7;
  }
  25% {
    grid-column: 2/8;
  }
  45% {
    grid-column: 2/9;
  }
  65% {
    grid-column: 2/10;
  }
  75% {
    grid-column: 2/11;
  }

  to {
    grid-column: 2/12;
  }
}
.left-growth {
  animation: left-growth 0.2s ease-in forwards;
}
@keyframes left-growth {
  from {
    grid-column: 7/12;
  }
  25% {
    grid-column: 6/12;
  }
  45% {
    grid-column: 5/12;
  }
  65% {
    grid-column: 4/12;
  }
  75% {
    grid-column: 3/12;
  }

  to {
    grid-column: 2/12;
  }
}
.full {
  grid-column: 2/12;
}
.row {
  grid-column: 1/-1;
}
.shrink-left {
  animation: shrink-left 0.2s ease-in forwards;
}
@keyframes shrink-left {
  from {
    grid-column: 2/12;
  }
  25% {
    grid-column: 2/11;
  }
  45% {
    grid-column: 2/10;
  }
  65% {
    grid-column: 2/9;
  }
  75% {
    grid-column: 2/8;
  }
  to {
    grid-column: 2/7;
  }
}
.shrink-right {
  animation: shrink-right 0.2s ease-in forwards;
}
@keyframes shrink-right {
  from {
    grid-column: 2/12;
  }
  25% {
    grid-column: 3/12;
  }
  45% {
    grid-column: 4/12;
  }
  65% {
    grid-column: 5/12;
  }
  75% {
    grid-column: 6/12;
  }
  to {
    grid-column: 7/12;
  }
}
.fade-grow {
  animation: fade-grow .2s ease-in forwards;
}
@keyframes fade-grow {
  from {
    height: 0;
  }
  to {
    height: 50vh;
  }
}
